html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  section {
    max-width:1200px;
    margin: 0 auto;
    padding: 0 15px;
  }

  // kolory
:root{
  --pink: #f38181;
  --orange: #fce38a;
  --yellow: #eaffd0;
  --green: #95e1d3;
}
.--hand_written {
  font-family: 'Kaushan Script', cursive;
}
.btn {
  padding: 5px 40px;
  border: 3px solid transparent;
  border-radius: 0;
  outline: 0;
}
.--outline {
  background: none;
  border-color:  #ffffff;
  color: #ffffff;
  &:hover {
    border-color: var(--yellow);
    color: var(--yellow);
  }
}