// team
#team { 
    .team {
      margin-top: 54px;
      margin-bottom: 85px;
      &__headline {
        text-align: center;
      }
      &__subtitle {
        font-size: 24px;
        &:first-letter {
          text-transform: capitalize;
        }
      }
      &__title {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 44px;
        &:after {
          position: relative;
          display: block;
          content: '';
          width: 60px;
          height: 3px;
          background-color: var(--pink);
          bottom: -44px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      &__description {
        max-width: 70%;
        margin: 45px auto 90px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        line-height: 24px;
        color: #d9d9d9;
      }
      &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
      }
      &__member {
        text-align: center;
        &__name {
          font-weight: 800;
          text-transform: uppercase;
          margin-top: 30px;
          font-size: 14px;
        }
        &__job {
          margin-top: 18px;
          font-family: 'Roboto', sans-serif;
          font-style: italic;
          font-weight: lighter;
          font-size: 15px;
          line-height: 24px;
          color: #d9d9d9;
        }
      }
      &__member__wrapper {
        height: 475px;
        overflow: hidden;
        background: var(--green);
        position: relative;
        img {
          position: relative;
          top: 100%;
          left: 0;
          object-fit: cover;
          height: 100%;
          width: 100%;        
        }
        .team__socials {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          display: flex;
          align-items: center;
          justify-content: center;
          width: auto;
          margin: 0 auto;
          z-index: 3;
          opacity: 0;
          &__item {         
            width: 60px;
            aspect-ratio: 1;
            transition: all 1s ease;
            color: var(--pink);
            background-color: var(--orange);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            
            &:hover {
              background-color: var(--pink);
              color: #fff;
            }
          }
        }
        &:hover {
          animation-name: overflow;
          animation-timing-function: linear;
          animation-duration: 2s;
          animation-fill-mode: forwards;
          &:before {
            position: absolute;
            top:0;
            left:0;
            content: '';
            width:100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(243,129,129,1) 0%, rgba(252,227,138,0.7) 100%);
            opacity: 0;
            z-index:1;
            animation-name: gradient;
            animation-timing-function: linear;
            animation-duration: 2s;
            animation-fill-mode: forwards;
          }
          .team__socials {
            animation-name: showSocials;
            animation-timing-function: linear;
            animation-duration: 2s;
            animation-fill-mode: forwards;
          }
  
          img{
            animation-name: slide;
            animation-timing-function: linear;
            animation-duration: 2s;
            animation-fill-mode: forwards;
           
          }
         
        }
      }
  
    }
    @media (max-width: 978px) {
      .team {
        &__list {
          grid-template-columns: 1fr;
        }
      }
  }
  }