// banner
#banner {
    height: 1000px;
    margin-top: -84px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    &:after {
      position: absolute;
      z-index: -2;
      content:'';
      display: block;
      background: rgb(243,129,129);
      background-image: url('/assets/banner.png');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100vw;
      max-width: 1920px;
      height: 1000px;
      top: 0;
      left: calc(50% - 50vw);
      @media(min-width: 1920px) {
        left: calc(50% - 960px);
      }
    }
    &:before {
      position: absolute;
      z-index: -1;
      content:'';
      display: block;
      background: linear-gradient(180deg, rgba(243,129,129,1) 0%, rgba(252,227,138,0.7) 100%);
      width: 100vw;
      max-width: 1920px;
      height: 1000px;
      top: 0;
      left: calc(50% - 50vw);
      @media(min-width: 1920px) {
        left: calc(50% - 960px);
      }
  
    }
    .main_banner {
      color: #ffffff;
      text-align: center;
      &__subtitle {
        font-size: 72px;
        font-weight: normal;
        text-transform: capitalize;
      }
      &__title {
        font-size: 150px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 120px;
        span {
          display: block;
        }      
      }
      &__more {
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
    @media(max-width: 978px){
      height: 100vw;
      &:after {
        height: 100vw;
      }
      &:before {
        height: 100vw;  
      }
      .main_banner {
        color: #ffffff;
        text-align: center;
        &__subtitle {
          font-size: 24px;
          font-weight: normal;
          text-transform: capitalize;
        }
        &__title {
          font-size: 30px;
          margin-bottom: 50px;    
        }
        &__more {
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }